@media (max-width: 765px) {
  .geisha {
    fill: blue;
  }
  .image {
    width: 70px;
    height: 70px;
  }
}

.test2 {
  position: relative;
}
.bag {
  width: 100%;
}
.image {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 50px;
}
