.list {
  display: flex;
  gap: 2em;
  color: var(--sentece);
}

@media (hover: hover) {
  .list a:hover {
    color: var(--fire);
  }
}

@media (hover: none) {
  .list a {
    -webkit-tap-highlight-color: transparent;
  }

  .list a:active {
    color: var(--accent);
  }
}
